@model SeguridadInformatica.Models.Activos

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de querer eliminar este activo?</h3>
<div>
    <h4>Activos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Integridad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Integridad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Confidencialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Confidencialidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuariosId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ActivosId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista de activos</a>
    </form>
</div>
